<form (ngSubmit)="onSubmit()" #loginForm="ngForm" *ngIf="!submitted" novalidate>
    <fieldset>
        <rd-error-message [error]="errorMessage"></rd-error-message>
        <div>
            <label for="email">Email</label>
            <input 
                type="email" 
                name="email" 
                id="email" 
                required 
                [(ngModel)]="loginModel.email"
            >
        </div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required [(ngModel)]="loginModel.password">

        <label for="remember">Remember me</label>
        <input type="checkbox" name="remember" id="remember" [(ngModel)]="loginModel.remember">

      	<input type="submit" value="login">

    </fieldset> 
</form> 

<section *ngIf="submitted">
    Login successful!
</section>